/* Adjusting the nav-wrap for horizontal layout */
.nav-wrap {
  @include flex($direction: row); // Change the flex direction to row for horizontal alignment
  justify-content: center; // Center the tabs horizontally
  max-width: 100%; // Allow the nav to stretch across the screen

  @media only screen and (max-width: $medium) {
    flex-direction: column; // Stack vertically on smaller screens
    height: 100%;
    visibility: hidden;
    width: 100%;
  }
  
  .open-menu & {
    visibility: visible;
  }
}

/* Styling for nav */
.nav {
  background-color: $white-color;
  @include flex($direction: row); // Make tabs horizontal
  height: rem(68px);
  width: 100%; // Stretch across the width of the screen

  @media only screen and (max-width: $medium) {
    flex-direction: column; // Stack tabs vertically on mobile
    font-size: rem(20px); // Make text bigger for small screens
  }

  .nav__item {
    margin-right: rem(15px); // Space between horizontal tabs
    display: inline-block; // Ensure items are aligned in a row
    @media only screen and (max-width: $medium) {
      margin-right: 0;
      margin-bottom: rem(10px); // Space between items on smaller screens
    }

    a {
      padding: rem(10px) rem(20px); // Add padding to the links
      display: block; // Ensure links are clickable across the full area

      @media only screen and (max-width: $medium) {
        text-align: center; // Center text on smaller screens
      }
    }
  }
}
