.widget-content-cv {
    display: inline-flex;
    width: 145px;
    justify-content: center;
    gap: 10px;




/* -----------------------------------------------------------------
    skills container
----------------------------------------------------------------- */

h2.skills-h2{font-size:1.8em;color:gold;margin-bottom:0;text-align:center}.skills-container{background-color:#ffeb00;padding:5px;border-radius:15px;max-width:900px;margin:0 auto}.skills-grid{display:grid;grid-template-columns:repeat(2,1fr);gap:20px}.skill-card{background-color:#33004f;padding:20px 20px 0;border-radius:10px;display:flex;flex-direction:column;align-items:center;justify-content:center;transition:transform .3s,box-shadow .3s}.skill-card:hover{transform:translateY(-10px);box-shadow:0 4px 15px rgba(255,215,0,.8)}.skill-card img{width:60px;height:60px;margin-bottom:10px}.skill-card p{font-size:1.2em;color:#fff;font-weight:700}@media (max-width:768px){.skills-grid{grid-template-columns:repeat(2,1fr)}}@media (max-width:480px){.skills-grid{grid-template-columns:repeat(2,1fr)}}
